api_platform:
    title: Hello API Platform
    version: 1.0.0

    # Déplacé ici pour être pris en compte globalement
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']

    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header