# config/packages/security.yaml
security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

            
        # Firewall pour la connexion (génération du token)
        login:
            pattern: ^/api/login
            stateless: true
            json_login:
                check_path: /api/login_check
                username_path: email
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        # Firewall pour l'API (vérification du token)
        api:
            pattern: ^/api
            stateless: true
            jwt: ~

    access_control:
        - {path: ^/api$, roles: PUBLIC_ACCESS }
        - { path: ^/api/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/patients, roles: PUBLIC_ACCESS, methods: [POST] }
        - { path: ^/api,       roles: IS_AUTHENTICATED_FULLY }
        