.auth-card {
    border-radius: 16px;
    background-color: #ffffff;
}


.input-container {
    border-color: #d2d6da !important;
    transition: border-color 0.2s;
}

.input-container:focus-within {
    border-color: #212529 !important;
    box-shadow: 0 0 0 0.1rem rgba(33, 37, 41, 0.1);
}

.btn-outline-soignant {
  border: 1px solid #6BB8AD;
}

.btn-outline-soignant:hover {
  background-color: #6BB8AD;
  color: white;
  transition: 0.3s ease;
  box-shadow: 0 0 0 0.09rem #6BB8AD !important;
}

.nav-link-custom {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
  transition: 0.3s ease;
  padding: 4px 0;
}


.nav-link-custom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #6BB8AD;
  transition: 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}


.active-link {
  color: #6BB8AD;
}

.active-link::after {
  width: 100%;
}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.custom-logo {
    height: 40px;
    width: auto;
    object-fit: contain;
}